body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

.container {
    padding: 20px;
}

.card {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

button:hover {
    background-color: #555;
}

.quote {
    background-color: #fff3cd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

.timer-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

#time {
    font-size: 60px;
    margin-bottom: 20px;
}

input {
    padding: 8px;
}
